<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="navbar" class="navbar navbar-light bg-light">
  <a class="navbar-brand mb-0 h1" href="/">LiteCD</a>
  <div sec:authorize="hasRole('deployer_admin')">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" sec:authentication="name"></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/logout">Log out</a>
      </div>
    </div>
  </div>
  <div sec:authorize="!hasRole('deployer_admin')">
    <a class="btn btn-primary" href="/sso/login">Log in</a>
  </div>
</nav>
</html>

