<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: base (~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Deployer</title>
</head>
<body>


<section>
  <div th:replace="fragments/navbar :: navbar"></div>
  <div sec:authorize="hasRole('deployer_admin')"
       th:if="${instanceManager.supportsFeature(T(me.hubertus248.deployer.instance.InstanceManagerFeature).CUSTOM_APPLICATION_INFO)}">
    <div th:replace="${instanceManager.getCustomApplicationInfoFragment()}::customApplicationInfo"></div>
  </div>

  <section>
    <div class="container">
      <div class="row pb-3">
        <h3 class="col" th:text="${app.name.value}"></h3>
        <div sec:authorize="hasRole('deployer_admin')" class="btn-group float-right" role="group">
          <button
              th:if="${instanceManager.supportsFeature(T(me.hubertus248.deployer.instance.InstanceManagerFeature).CUSTOM_APPLICATION_INFO)}"
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#customApplicationInfo">
            Details
          </button>
          <a th:if="${instanceManager.supportsFeature(T(me.hubertus248.deployer.instance.InstanceManagerFeature).CONFIGURABLE_APPLICATION)}"
             type="button"
             class="btn btn-primary"
             th:href="${instanceManager.configureApplicationUrl(app.id)}">
            Configure
          </a>
          <button type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#deleteApplicationModal">Delete
          </button>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="row">
            <h5>Running instances:</h5>

          </div>
          <div class="row">
            <p th:if="${instances.isEmpty()}">There are no running instances</p>
            <ul class="list-group col">
              <li th:each="instance: ${instances}" class="list-group-item d-flex justify-content-between align-items-center">
                <p class="no-margin" th:text="${instance.key.value}"></p>
                <div>
                  <span th:if="${instance.status == T(me.hubertus248.deployer.data.entity.InstanceStatus).RUNNING}"
                        class="badge badge-success">Running</span>
                  <span th:if="${instance.status == T(me.hubertus248.deployer.data.entity.InstanceStatus).STOPPED}"
                        class="badge badge-danger">Stopped</span>
                </div>
                <div>
                  <div class="btn-group" role="group">
                    <a th:if="${instance.status == T(me.hubertus248.deployer.data.entity.InstanceStatus).RUNNING}"
                       class="btn btn-primary" th:href="${instanceManager.getOpenUrl(instance)}">Open</a>
                    <form th:if="${instance.status == T(me.hubertus248.deployer.data.entity.InstanceStatus).STOPPED}"
                          th:action="|/app/${app.id}/start|"
                          method="post">
                      <input type="hidden" th:value="${instance.key.value}" name="key"/>
                      <input sec:authorize="hasRole('deployer_admin')" type="submit" class="btn btn-success" value="Start"/>
                    </form>
                    <div sec:authorize="hasRole('deployer_admin')" class="btn-group" role="group">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">More
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a th:if="${instanceManager.supportsFeature(T(me.hubertus248.deployer.instance.InstanceManagerFeature).CONFIGURABLE_INSTANCES)}"
                           class="dropdown-item" href="#">Details</a>
                        <button
                            th:if="${instanceManager.supportsFeature(T(me.hubertus248.deployer.instance.InstanceManagerFeature).STOPPABLE_INSTANCES)}"
                            class="dropdown-item" th:form="|stop_instance_${instance.id}|">Stop
                        </button>
                        <button
                            th:if="${instanceManager.supportsFeature(T(me.hubertus248.deployer.instance.InstanceManagerFeature).POSSIBLE_INSTANCE_LIST)}"
                            class="dropdown-item" th:form="|recreate_instance_${instance.id}|">Recreate
                        </button>
                        <button class="dropdown-item" th:form="|delete_instance_${instance.id}|">Delete</button>

                        <form th:action="|/app/${app.id}/stop|" th:id="|stop_instance_${instance.id}|" method="post">
                          <input type="hidden" th:value="${instance.key.value}" name="key"/>
                        </form>
                        <form th:action="|/app/${app.id}/delete|" th:id="|delete_instance_${instance.id}|"
                              method="post">
                          <input type="hidden" th:value="${instance.key.value}" name="key"/>
                        </form>
                        <form th:action="|/app/${app.id}/recreate|" th:id="|recreate_instance_${instance.id}|"
                              method="post">
                          <input type="hidden" th:value="${instance.key.value}" name="key"/>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>

          </div>
        </div>
        <div class="col"
             sec:authorize="isAuthenticated()"
             th:if="${instanceManager.supportsFeature(T(me.hubertus248.deployer.instance.InstanceManagerFeature).POSSIBLE_INSTANCE_LIST)}">
          <div class="row">
            <h5 class="col">Create Instance:</h5>
          </div>
          <div class="row">
            <p th:if="${possibleInstances.isEmpty()}">There are no available templates</p>
            <ul class="list-group col">
              <li th:each="instance: ${possibleInstances}" class="list-group-item d-flex justify-content-between align-items-center">
                <p class="no-margin" th:text="${instance.key.value}"></p>
                <div>

                  <span th:if="${instance.alreadyCreated}"
                        class="badge badge-secondary">Already exists</span>
                </div>
                <div sec:authorize="hasRole('deployer_admin')">
                  <form th:action="|/app/${app.id}/create|" method="post" th:id="|create_instance_${instance.key}|">
                    <input type="hidden" th:value="${instance.key.value}" name="key"/>
                  </form>
                  <form th:action="|/app/${app.id}/deleteAvailableInstance|" method="post"
                        th:id="|delete_available_instance_${instance.key}|">
                    <input type="hidden" th:value="${instance.key.value}" name="key"/>
                  </form>
                  <div class="btn-group" role="group">
                    <button th:if="${!instance.alreadyCreated}" class="btn btn-primary"
                            th:form="|create_instance_${instance.key}|">Create
                    </button>
                    <button th:if="${instance.alreadyCreated}" class="btn btn-primary" disabled="">Create</button>
                    <div class="btn-group" role="group">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">More
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button th:if="${!instance.alreadyCreated}" class="dropdown-item"
                                th:form="|delete_available_instance_${instance.key}|">Delete
                        </button>
                        <button th:if="${instance.alreadyCreated}" class="dropdown-item" disabled="">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div sec:authorize="hasRole('deployer_admin')" class="modal fade" tabindex="-1" role="dialog" id="deleteApplicationModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" th:text="|Delete application ${app.name.value}|"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <form th:action="|/app/${app.id}/deleteApp|" method="post" id="deleteAppForm">
              <input type="submit" class="btn btn-danger" form="deleteAppForm" value="Delete"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
</body>
</html>