<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: base (~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Deployer</title>
</head>
<body>


<section>
  <div th:replace="fragments/navbar :: navbar"></div>
  <div sec:authorize="isAuthenticated()"
       th:if="${instanceManager.supportsFeature(T(me.hubertus248.deployer.instance.InstanceManagerFeature).CUSTOM_APPLICATION_INFO)}">
    <div th:replace="${instanceManager.getCustomApplicationInfoFragment()}::customApplicationInfo"></div>
  </div>

  <section>
    <div class="container">
      <div class="row pb-3">
        <h3 class="col" th:text="${app.name.value}"></h3>
        <button sec:authorize="isAuthenticated()"

                th:if="${instanceManager.supportsFeature(T(me.hubertus248.deployer.instance.InstanceManagerFeature).CUSTOM_APPLICATION_INFO)}"
                type="button"
                class="btn btn-primary float-right"
                data-toggle="modal"
                data-target="#customApplicationInfo">
          Details
        </button>
        <!--        TODO restrict to admin-->
      </div>


      <div class="row">
        <div class="col">
          <div class="row">
            <h5>Running instances:</h5>

          </div>
          <div class="row">
            <p th:if="${instances.isEmpty()}">There are no running instances</p>
            <ul class="list-group col">
              <li th:each="instance: ${instances}" class="list-group-item d-flex justify-content-between">
                <p th:text="${instance.key.value}"></p>
                <div>
                  <a class="btn btn-primary" th:href="${instanceManager.getOpenUrl(instance)}">Open</a>
                  <a class="btn btn-secondary disabled">Configure</a>
                  <a class="btn btn-danger disabled">Delete</a>
                </div>
              </li>
            </ul>

          </div>
        </div>
        <div class="col"
             th:if="${instanceManager.supportsFeature(T(me.hubertus248.deployer.instance.InstanceManagerFeature).POSSIBLE_INSTANCE_LIST)}">
          <div class="row">
            <h5 class="col">Create Instance:</h5>
          </div>
          <div class="row">
            <p th:if="${possibleInstances.isEmpty()}">There are no available templates</p>
            <ul class="list-group col">
              <li th:each="instance: ${possibleInstances}" class="list-group-item d-flex justify-content-between">
                <p th:text="${instance.key.value}"></p>
                <div>
                  <form th:action="|/app/${app.id}/start?key=${instance.key.value}|" method="post">
                    <input type="submit" class="btn btn-primary" value="Start"/>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>

</section>
</body>
</html>