<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: base (~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Page Title</title>
</head>
<body>


<section>
  <div th:replace="fragments/navbar :: navbar"></div>

  <section>
    <div class="container">
      <div class="row pb-3">
        <h3 class="col" th:text="${app.name.value}"></h3>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <h5>Running instances:</h5>

          </div>
          <div class="row">
            <p th:if="${instances.isEmpty()}">There are no running instances</p>
            <ul class="list-group col">
              <li th:each="instance: ${instances}" class="list-group-item d-flex justify-content-between">
                  <p th:text="${instance.key.value}"></p>
                <div>
                  <a class="btn btn-primary" th:href="${instanceManager.getOpenUrl(instance)}">Open</a>
                  <a class="btn btn-secondary disabled" >Configure</a>
                  <a class="btn btn-danger disabled">Delete</a>
                </div>
              </li>
            </ul>
          </div>
          <!--          <div class="col">-->
          <!--            <div class="row">-->
          <!--              <h5 class="col">Create Instance:</h5>-->
          <!--              <div class="col">-->
          <!--                &lt;!&ndash;              TODO: hide when not possible&ndash;&gt;-->
          <!--                <a href="#" class="btn btn-primary">Manual creation</a>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </div>

    </div>
  </section>

</section>
</body>
</html>