<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: base (~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Page Title</title>
</head>
<body>


<section>
  <div th:replace="fragments/navbar :: navbar"></div>

  <section>
    <div class="container">
      <div class="row pb-3">
        <h4 class="col">Applications</h4>
        <div class="col">
<!--          TODO introduce admin role-->
          <a sec:authorize="isAuthenticated()" class="btn btn-primary float-right" href="/newApp">Create App</a>
        </div>
      </div>

      <ul class="list-group">
        <li th:each="app: ${applications}" class="list-group-item" th:text="${app.name}"></li>
      </ul>
    </div>
  </section>

</section>
</body>
</html>