<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: base (~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>LiteCD</title>
</head>
<body>


<section>
  <div th:replace="fragments/navbar :: navbar"></div>

  <section>
    <div class="container">
      <div class="row pb-3">
        <h4 class="col">Applications</h4>
        <div class="col">
          <a sec:authorize="hasRole('deployer_admin')" class="btn btn-primary float-right" href="/newApp">Create App</a>
        </div>
      </div>
      <!--TODO add pagination-->
      <div class="list-group">
        <a th:each="app: ${applications}" class="list-group-item list-group-item-action flex" th:href="${'/app/' + app.id}">
          <div class="container">
            <div class="row">
              <p class="col" th:text="${app.name.value}" style="margin-bottom: 0"></p>
              <div class="col">
                <span th:if="${app.visibility == T(me.hubertus248.deployer.data.entity.Visibility).PUBLIC}" class="badge badge-success float-right ml-3">Public</span>
                <span class="badge badge-secondary float-right" th:text="${instanceManagerService.getManagerForApplication(app).getFriendlyName()}">Running</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

</section>
</body>
</html>