<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: base (~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Page Title</title>
</head>
<body>


<section>
  <div th:replace="fragments/navbar :: navbar"></div>

  <section>
    <div class="container">
      <div class="row pb-3">
        <h4 class="col">Error</h4>
      </div>
      <div class="row">
        <h5 class="col" th:text="${status + ' ' + error}"></h5>
      </div>
      <div class="row">
        <p th:text="${message}"></p>
      </div>

      <div class="row">
        <p th:text="${trace}"></p>
      </div>
    </div>
  </section>

</section>
</body>
</html>