<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: base (~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Deployer</title>
</head>
<body>


<section>
  <div th:replace="fragments/navbar :: navbar"></div>
  <div class="container">
    <form method="post" action="/newApp">
      <input
          type="hidden"
          th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}"/>
      <div class="form-group">
        <label for="nameInput">Application name</label>
        <input type="text" class="form-control" id="nameInput" name="name">
      </div>
      <div class="form-group">
        <label for="managerInput">Instance Manager</label>
        <select class="form-control" id="managerInput" name="manager">
          <option th:each="manager: ${managers}" th:text="${manager.friendlyName}"
                  th:value="${manager.uniqueName.value}"></option>
        </select>
      </div>
      <div class="form-group">
        <label for="visibilityInput">Visibility</label>
        <select class="form-control" id="visibilityInput" name="visibility">
          <option>RESTRICTED</option>
          <option>PUBLIC</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Create application</button>
    </form>
  </div>

</section>
</body>
</html>