<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: base (~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>LiteCD</title>
</head>
<body>


<section>
  <div th:replace="fragments/navbar :: navbar"></div>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 th:text="${app.name.value}"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-start">
        <h4 th:text="|Instance ${instance.key.value}|"></h4>
        <div>
          <span th:if="${instance.status == T(me.hubertus248.deployer.data.entity.InstanceStatus).RUNNING}"
                class="badge badge-success">Running</span>
          <span th:if="${instance.status == T(me.hubertus248.deployer.data.entity.InstanceStatus).STOPPED}"
                class="badge badge-danger">Stopped</span>
        </div>
      </div>
      <div class="col">
        <div th:insert="fragments/instanceControls :: instanceControls" class="float-right">

        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Logs</h4>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="card text-white bg-dark">
                    <div class="card-body code-card">
                      <pre class="code">
                        <span class="tr" th:each="line: ${logs}"><span class="th"></span><code class="code-line"
                                                                                               th:text="${line}"></code></span>
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3 justify-content-end">
                <a class="btn btn-secondary" th:href="|/spring/logfile/${instance.id}|">Download logs</a>
                <!--                <button class="btn btn-secondary" disabled="">Download workspace</button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Subdomain</h4>
          </div>
          <div class="card-body">
            <div class="container">
              <form method="post" th:action="|/spring/configureSubdomain/${instance.id}|">
                <div class="row">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="subdomain" name="subdomain"
                           th:value="${instance.subdomain.value}"/>
                    <div class="input-group-append">
                      <span class="input-group-text" th:text="|.${domain}|"></span>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-end mt-3">
                  <input type="submit" class="btn btn-primary" value="Save">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Environment</h4>
          </div>
          <div class="card-body">
            <div class="container">
              <div id="env">
                <div class="row" th:each="variable: ${env.entrySet()}">
                  <div class="col">
                    <div class="input-group mb-3 envVariable">
                      <input type="text" class="form-control" placeholder="Variable name" name="envVariableName"
                             th:value="${variable.key}">
                      <input type="text" class="form-control" placeholder="Variable value" name="envVariableValue"
                             th:value="${variable.value}">
                      <div class="input-group-append">
                        <button class="btn btn-outline-danger" onclick="deleteButtonHandler(this)">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col flex justify-content-end">
                  <button class="btn btn-secondary mr-3" onclick="addRow()">New</button>
                  <button class="btn btn-primary" th:onclick="|saveInstanceEnvironment(${instance.id})|">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  TODO fix positioning-->
  <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <div style="position: absolute; top: 0; right: 0;">
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="errorToast">
        <div class="toast-header">
          <strong class="mr-auto">Error</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body" id="errorToastBody">
        </div>
      </div>
    </div>
  </div>
  <script src="/js/application/spring/configureInstance.js"></script>
  <script src="/js/application/spring/environmentVariableList.js"></script>
  <script src="/js/toast.js"></script>
</section>
</body>
</html>